 *
{
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
body
{
	background-color: lightpink;
	background-position: center;
	font-family: sans-serif;
}
.menu-bar
{
	background: rgb(0, 100, 0);
	text-align: center;
}
.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;

}
.menu-bar ul li a
{
  text-decoration: none;
  color: #fff;
}
.active,.menu-bar ul li:hover
{
 background: red;
 border-radius: 3px;
}
.menu-bar .fa
{
	margin-right: 8px;
}
.sub-menu
{
	display: none;
}
.menu-bar ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background: blue;
	margin-top: 15px;
	margin-left: -15px;
	font: 10px;
}
#myname
{
	color: navy;
	text-align: center;
}
#form
{
	font-size: 48px;
	font-family: monospace;
	text-align: right;
	padding-bottom: 100px;

}
#btnsearch
{
font-size: 12px;
color: magenta;
}
#query
{
	width: 25%;
	height: 10%;
}
.endhome
{
	padding-top: 780px;
	padding-bottom: 2px;
}
.container
{
	max-width: 1000px;
	margin: 0 auto;

}
#order, #delivery, #pay
{
	padding-top: 35px;
	padding-bottom: 4px;
	color: darkred;
	text-align: center;
  list-style: none;

}
.itemsorder
{
	list-style: none;
	
}
.usabout
{ 
	background-size: cover;
	background-color: lightblue;
	

}
.linksus
{
	list-style: none;
}

.about-grid

{
	display: grid;
  grid-template-rows: auto auto auto auto auto auto;
	grid-template-columns: auto auto auto;
	grid-template-areas: cover;
	
}
@media (max-width: 480px){
	.about-grid{
		grid-template-columns: 100%;
	}
}

.products
{
	padding-top: 80px;
	padding-bottom: 0px;
}
.missin, .vissin
{
	text-align: center;
	padding-top: 35px;
	
}
.contacts, .lins
{
	padding-top: 35px;
	text-align: center;
	outline-style: none;
}
.itemsorder-grid
{
	display: grid;
	grid-template-rows: auto auto auto auto auto auto auto ;
	grid-template-columns: auto	auto;
	grid-gap: 26px;
}
@media (max-width: 480px){
	.itemsorder-grid{
		grid-template-columns: 100%;
	}
}
li
{
	list-style: none;
	color: brown;
}
h4, h3
{
	color: blue;
}
h5
{
	color: red;
}
h2
{
	color: maroon;
}
.reasons-grid
{
	display: grid;
	grid-template-rows:auto auto;
	
	grid-gap: 20px;
}
@media (max-width: 480px){
	.reasons-grid{
		grid-template-columns: 100%;
	}
}


